@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

a{
    text-transform: none;
    color: seashell !important;
}

body{
    background-color: black;
    color: seashell;
    font-family: Helvetica, arial;
    opacity: .9;
    font-size: 22px;
}
.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
header {
    display: flex;
    height: 69px;
    align-items: center;
    border-bottom: 1px solid seashell;
    width: 1200px;
    justify-content: space-between;
}
#title{
    display: inline-flex;
    margin-left: 10px;
    font-size: 50px;
    font-family: 'Alex Brush', cursive;
}
#top-menu{
    display: inline-flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.top-link{
    margin-left: 10px;
    text-decoration: underline;
}
#mission{
    display: inline-flex;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*125zna1*_ga*MDY0MDU1MjA1NC4xNjY4ODQ4MTEx*_ga_3LRZM6TM9L*MTY2OTg5MTQ0My4xMy4xLjE2Njk4OTE0NzYuMjcuMC4w");
    height: 700px;
    align-items: center;
}
.mission-text{
    width: 1200px;
    text-align: center;
    background-color: black;
}
#TOTM{
    display: flex;
    width: 1000px;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.tea-photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tea-photo{
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.tea-photo img{
    width: 300px;
    height: 200px;
    margin-bottom: -10px;
}
#locations-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    height: 500px;
    width: 1200px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*100kdkt*_ga*MDY0MDU1MjA1NC4xNjY4ODQ4MTEx*_ga_3LRZM6TM9L*MTY2OTg5OTYwMS4xNC4xLjE2Njk4OTk2MjkuMzIuMC4w");
}
.locations{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.location-block{
    width: 300px;
    height: 300px;
    background-color: black;
    text-align: center;
    margin: 0px 20px;
    opacity: 1;
}
.main-footer{
    text-align: center;
}
.final-footer{
    text-align: left !important;
    margin-left: 20px;
}
footer{
    width: 100%;
}